<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrap">
        <div class="header_bg col_12">
            <div class="header_box col_10">
                <div class="box_left">
                    <a class="LOGO" href="#">PROJECT</a>
                    <div class="CONSTRUCTION"><p class="font_13px">CONSTRUCTION</p><p class="font_13px">COMPANY</p></div>
                </div>
                <div class="hamburger"><span></span></div>
                <div class="box_right">                    
                    <div class="header_list"><a href="#">HOME</a></div>
                    <div class="header_list"><a href="#">ABOUT</a></div>
                    <div class="header_list"><a href="#">SERVICES</a></div>
                    <div class="header_list"><a href="#">GALLERY</a></div>
                    <div class="header_list"><a href="#">CONTACTS</a></div>
                </div>            
            </div>        
        </div><!-- header_bg end -->
        <div class="content col_12">
            <div class="banner col_12">
                <div class="banner_content col_10">
                    <div class="big_number_word big_number_10">
                        <p class="big_number_220px">10</p>
                        <p class="font_20px">YEARS OF EXPERIENCE</p>
                        <p class="font_20px">IN THE INDUSTRY</p>
                    </div>
                    <div class="banner_tel">
                        <p class="font_18px p_none_margin">28 Jackson Blvd Ste 1020 Chicago IL 60604-</p>
                        <p class="font_18px p_none_margin">2340</p>
                        <p class="font_30px">TEL: 80023456789</p>
                    </div>
                    <div class="Slash banner_Slash"></div>
                </div>
            </div>
            <div class="ABOUT_all col_10">
                <h3 class="Straight font_20px ABOUT">ABOUT</h3>
                <div class="ABOUT_words_box words_box">
                    <h2 class="font_40px title">WE ARE THE LEADERS IN THE CONSTRUCTION INDUSTRY</h2>
                    <p class="font_18px">At Project we strive to excel in every service we provide, adding value for our customers wherever possible, and thereby attaining national leadership in the construction industry.</p>   
                    <a class="bottom SEE_ALL_PROJECTS" href="#">SEE ALL PROJECTS</a>
                </div>
                <div class="big_number_word big_number_7">
                    <p class="big_number_220px">7</p>
                    <p class="font_20px">ARCHITECT-BUILT</p>
                    <p class="font_20px">HOUSING ESTATES</p>
                </div>
                <div class="Slash ABOUT_Slash"></div>
                <div class="ABOUT_img_all">
                    <div class="ABOUT_imgbox1"><img src="/img/about_img_1.jpg" alt=""></div>
                    <div class="ABOUT_imgbox2"><img src="/img/about_img_2.jpg" alt=""></div>
                    <div class="ABOUT_imgbox3"><img src="/img/about_img_3.jpg" alt=""></div>
                </div>
            </div>
            <div class="WHOWEARE_all col_10">
                <div class="big_number_word big_number_word_26">
                    <p class="big_number_220px">26</p>
                    <p class="font_20px">HIGHLY QUALIFIED</p>
                    <p class="font_20px">SPECIALISTS</p>
                </div>
                <h3 class="Straight font_20px WHOWEARE">WHO WE ARE</h3>
                <div class="WHOWEARE_words_box words_box">
                    <h2 class="font_40px">WE ARE THE LEADERS IN THE CONSTRUCTION INDUSTRY</h2>
                    <p class="font_18px">Since our incorporation in 2006, we've grown from a regional organization to a multi-faceted, national presence in the industry with headquarters in New York and regional offices in Miami, Washington DC, and Los Angeles.</p>   
                    <p class="font_18px">Our roots are based in construction, real estate, investment and development management. Our portfolio includes work across industries. Project's uniqueness comes from understanding what it is to be the owner, the developer and the builder – a trifecta that is evident in Project's core portfolio of prestigious commercial, corporate and residential properties.</p>
                </div>
            </div>
            <div class="SERVICES_all col_8">
                <h3 class="Straight font_20px SERVICES">SERVICES</h3>
                <div class="SERVICES_words_box">
                    <div class="Slash SERVICES_Slash"></div>
                    <p class="font_30px">CONSTRUCTION</p>
                    <p class="font_30px">MANAGEMENT</p>
                    <p class="font_18px SERVICES_words_p">We act as advocates for our clients, performing due diligence in the pre-construction phase, minimizing risks for our clients and starting projects off on their best footing.</p>
                </div>
                <div class="SERVICES_words_box">
                    <div class="Slash SERVICES_Slash"></div>
                    <p class="font_30px">PROGRAM</p>
                    <p class="font_30px">MANAGEMENT</p>
                    <p class="font_18px SERVICES_words_p">From project accounting to overseeing the team, from maintaining schedules to bidding to outside vendors, we offer our industry knowledge and relationships to the client, thereby controlling costs.</p>
                </div>
                <div class="SERVICES_words_box">
                    <div class="Slash SERVICES_Slash"></div>
                    <p class="font_30px">GENERAL</p>
                    <p class="font_30px">CONTRACTING</p>
                    <p class="font_18px SERVICES_words_p">When overseeing the bidding process and executing the project it is our role to drive value, both in terms of our initial bid and by controlling the project to minimize change orders.</p>
                </div>
                <div class="SERVICES_words_box">
                    <div class="Slash SERVICES_Slash"></div>
                    <p class="font_30px">DESIGN AND</p>
                    <p class="font_30px">BUILD</p>
                    <p class="font_18px SERVICES_words_p">Design and build is all about working with efficiencies created within the design phase, thereby minimizing on-site labor and executing seamlessly while controlling costs.</p>
                </div>
            </div>
            <div class="banner_small col_10">
                <div class="banner_small_img"><img src="/img/banner_small.jpg" alt=""></div>    
                <div class="big_number_word big_number_word_12">
                    <p class="big_number_220px">12</p>
                    <p class="font_20px">BUILT AND ENHANCED</p>
                    <p class="font_20px">DESIGNS</p>
                    <p class="font_20px">OF HOUSINGS, MANSIONS</p>
                    <p class="font_20px">AND FACILITIES</p>
                </div>            
            </div>
            <div class="TECHNOLOGIES_all col_8">
                <h3 class="Straight font_20px TECHNOLOGIES">TECHNOLOGIES</h3>
                <div class="TECHNOLOGIES_words_box words_box">
                    <h2 class="font_40px">BUILDING INFORMATION MODELING (BIM)</h2>
                    <p class="font_18px Building_p">Building Information Modeling (BIM) is the process of generating and managing building data throughout the project’s life cycle. It bridges the virtual world with the real world to collect all vital information, enlightening the project team and the project itself. Project is a vocal advocate for the industry adoption of BIM as a revamping of the construction process in addition to being a valuable tool for project efficiencies and cost controls.</p>
                </div>
            </div>
            <div class="LATEST_PROJECTS_all col_10">
                <h3 class="Straight font_20px LATEST_PROJECTS">LATEST PROJECTS</h3>                
                <div class="LATEST_PROJECTS_words_box">
                    <div class="LATEST_PROJECTS_img_box"><img src="/img/LATEST PROJECTS_1.jpg" alt=""></div>
                    <div class="Slash LATEST_PROJECTS_Slash"></div>
                    <div class="LATEST_PROJECTS_p">
                        <p class="font_30px">STATION PLACE</p>
                        <p class="font_18px">Washington DC's largest private office development, Station Place consists of three 10-story buildings separated by landscaped plazas on 5.5 acres adjacent to historic Union Station.</p>
                        <a class="bottom learn_more" href="#">learn more</a>
                    </div>                    
                </div>
                <div class="LATEST_PROJECTS_words_box">
                    <div class="LATEST_PROJECTS_img_box smallimg"><img src="/img/LATEST PROJECTS_2.jpg" alt=""></div>
                    <div class="Slash LATEST_PROJECTS_Slash"></div>
                    <div class="LATEST_PROJECTS_p">
                        <p class="font_30px">TOWN CENTER ONE AT DADELAND</p>
                        <p class="font_18px">Part of a 5.5-acre development including commercial, retail and residential space, Town Center One is a state-of-the-art 24-story office tower.</p>
                        <a class="bottom learn_more" href="#">learn more</a>
                    </div>
                    
                </div>               
            </div>
            <div class="CONTACTS_all col_8">
                <h3 class="Straight font_20px CONTACT">CONTACTS</h3> 
                <div class="form">
                    <h2 class="font_40px form_h2">WE ARE ALWAYS READY</h2>
                    <h2 class="font_40px">TO HELP YOU.</h2>
                    <p class="font_18px CONTACTS_p">There are many ways to contact us. You may drop us a line, give us a call or send an email,</p>
                    <p class="font_18px choose_p">choose what suits you the most.</p>
                    <form class="formform" action="#">
                        <INput class="input30" type="text" placeholder="NAME:" name="name"></INput>
                        <INput class="input30" type="email" placeholder="E-MAIL:" name="email"></INput>
                        <INput class="input30" type="tel" placeholder="PHONE:" name="tel"></INput>
                        <textarea class="textarea" type="text" placeholder="MESSAGE:" name="MESSAGE"></textarea>
                        <a class="bottom SEND" href="#">SEND</a>
                    </form>
                </div>
                <div class="footer">
                    <p class="font_30px PROJECT">PROJECT</p>
                    <p class="font_18px PROJECT">© 2020 . Privacy Policy</p>
                </div>
            </div>

    
        </div><!-- content end -->
    </div><!-- wrap end -->
    
    

    
</body>
</html>